# TaskFlow Frontend Environment Variables template
# For local development: http://localhost:5000/api/v1
# For production cloud deployment on Vercel:
VITE_API_URL=https://taskflow-ndcp.onrender.com/api/v1
